@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-merriweather: var(--font-merriweather);

  --color-primary: #1F7A63;
  --color-secondary: #7A4A2E;
  --color-accent: #D97742;
  --color-background-soft: #FAF9F6;
  --color-text-main: #1E1E1E;

  --color-status-available: #2F855A;
  --color-status-loan: #C05621;
}

:root {
  --background: #FAF9F6;
  --foreground: #1E1E1E;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-merriweather), serif;
}